$mainColor: #FFFFFF;
$colorLink: #888888;
$colorSupport: #000000;
$colorBackground: #F7F6F6;
$shadowColor: #ccc;
$colorPrice2: #050505;
$colorForm: #C4C4C4;
$colorbckgHover: #302f2f3a;
$colorBorder: #aaa;
$colorBorderBottom: rgba(255, 255, 255, 0.8);
$colorBackgroundSB: rgba(222, 215, 215, 0.41);